.main-head{
    display: flex;
    justify-content: flex-start;
    width:100vw;
    height: 5vh;
    padding-left:3vw;
}
.main-head .nickname{
    background-color: rgba(0,0,0,0.4);
    height:8vh;
    width:15vw;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color:white;
}